.header {
    width: 200px;
    height: 48px;
    position: fixed;
    top: 6px;
    right: 16px;
    border-radius: 2px;
    transition: height 0.2s linear, top 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    width: 32px;
    padding: 8px;
}

.input {
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: var(--background-color);
    font-family: "Nunito Sans", apple-system, BlinkMacSystemFont, Helvetica Neue,
        Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic, YuGothicM,
        メイリオ, Meiryo, sans-serif;
}

.title {
    font-family: "Nunito Sans", apple-system, BlinkMacSystemFont, Helvetica Neue,
        Hiragino Kaku Gothic ProN, 游ゴシック Medium, YuGothic, YuGothicM,
        メイリオ, Meiryo, sans-serif;
}
